.module {
  padding: 20px;
}
.back {
  margin-bottom: 20px;
}
.descr {
  display: flex;
  gap: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid;
}
.add {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid;
  flex-direction: column;
}
